
Будет удалено .flutter-plugins
Будет удалено .gitignore
Будет удалено .idea/
Будет удалено .packages
Будет удалено android/.gradle/4.10.2/vcsMetadata-1/
Будет удалено build/app/generated/res/
Будет удалено build/app/generated/source/apt/
Будет удалено build/app/generated/source/rs/
Будет удалено build/app/intermediates/check-libraries/
Будет удалено build/app/intermediates/check-manifest/
Будет удалено build/app/intermediates/checkDebugClasspath/
Будет удалено build/app/intermediates/checkReleaseClasspath/
Будет удалено build/app/intermediates/incremental/mergeDebugResources/merged.dir/
Будет удалено build/app/intermediates/incremental/mergeDebugResources/stripped.dir/
Будет удалено build/app/intermediates/incremental/mergeReleaseResources/stripped.dir/
Будет удалено build/app/intermediates/incremental/packageRelease/tmp/release/zip-cache/S076_mojsuoBd3Her8f5svtt8Lw=
Будет удалено build/app/intermediates/incremental/packageRelease/tmp/release/zip-cache/siCoWP5rkAsodcj5q7rgdILOHnA=
Будет удалено build/app/intermediates/incremental/processDebugResources/
Будет удалено build/app/intermediates/incremental/processReleaseResources/
Будет удалено build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/Ot9YPEgEP4kDuX2evRximmtCZOA=
Будет удалено build/app/intermediates/incremental/release-mergeJniLibs/zip-cache/Ot9YPEgEP4kDuX2evRximmtCZOA=
Будет удалено build/app/intermediates/incremental/validateSigningDebug/
Будет удалено build/app/intermediates/incremental/validateSigningRelease/
Будет удалено build/app/intermediates/jniLibs/
Будет удалено build/app/intermediates/lint_jar/
Будет удалено build/app/intermediates/prebuild/
Будет удалено build/app/intermediates/rs/
Будет удалено build/app/intermediates/shader_assets/
Будет удалено build/app/intermediates/shaders/
Будет удалено build/app/intermediates/transforms/dexBuilder/release/2.jar
Будет удалено build/app/intermediates/transforms/dexBuilder/release/7.jar
Будет удалено build/app/intermediates/transforms/dexBuilder/release/8/
Будет удалено build/app/intermediates/transforms/dexBuilder/release/9/
Будет удалено build/app/tmp/compileDebugJavaWithJavac/
Будет удалено build/app/tmp/compileReleaseJavaWithJavac/
Будет удалено build/kotlin/
Будет удалено build/shared_preferences/generated/res/
Будет удалено build/shared_preferences/generated/source/apt/
Будет удалено build/shared_preferences/generated/source/rs/
Будет удалено build/shared_preferences/intermediates/annotations_zip/
Будет удалено build/shared_preferences/intermediates/blame/
Будет удалено build/shared_preferences/intermediates/check-manifest/
Будет удалено build/shared_preferences/intermediates/consumer_proguard_file/
Будет удалено build/shared_preferences/intermediates/incremental/debug-mergeJavaRes/zip-cache/
Будет удалено build/shared_preferences/intermediates/incremental/debug-mergeJniLibs/zip-cache/
Будет удалено build/shared_preferences/intermediates/incremental/mergeReleaseResources/merged.dir/
Будет удалено build/shared_preferences/intermediates/incremental/mergeReleaseResources/stripped.dir/
Будет удалено build/shared_preferences/intermediates/incremental/packageDebugResources/merged.dir/
Будет удалено build/shared_preferences/intermediates/incremental/packageDebugResources/stripped.dir/
Будет удалено build/shared_preferences/intermediates/incremental/packageReleaseResources/merged.dir/
Будет удалено build/shared_preferences/intermediates/incremental/packageReleaseResources/stripped.dir/
Будет удалено build/shared_preferences/intermediates/incremental/release-mergeJavaRes/zip-cache/
Будет удалено build/shared_preferences/intermediates/incremental/release-mergeJniLibs/zip-cache/
Будет удалено build/shared_preferences/intermediates/incremental/verifyReleaseResources/
Будет удалено build/shared_preferences/intermediates/intermediate-jars/debug/jni/
Будет удалено build/shared_preferences/intermediates/intermediate-jars/release/jni/
Будет удалено build/shared_preferences/intermediates/jniLibs/
Будет удалено build/shared_preferences/intermediates/library_and_local_jars_jni/
Будет удалено build/shared_preferences/intermediates/library_assets/
Будет удалено build/shared_preferences/intermediates/lint_jar/
Будет удалено build/shared_preferences/intermediates/packaged-classes/debug/libs/
Будет удалено build/shared_preferences/intermediates/packaged-classes/release/libs/
Будет удалено build/shared_preferences/intermediates/packaged_res/
Будет удалено build/shared_preferences/intermediates/public_res/
Будет удалено build/shared_preferences/intermediates/res/compiled/
Будет удалено build/shared_preferences/intermediates/res/merged/
Будет удалено build/shared_preferences/intermediates/rs/
Будет удалено build/shared_preferences/intermediates/shader_assets/
Будет удалено build/shared_preferences/intermediates/shaders/
Будет удалено build/shared_preferences/tmp/
Будет удалено build/sqflite/generated/res/
Будет удалено build/sqflite/generated/source/apt/
Будет удалено build/sqflite/generated/source/rs/
Будет удалено build/sqflite/intermediates/annotations_zip/
Будет удалено build/sqflite/intermediates/check-manifest/
Будет удалено build/sqflite/intermediates/consumer_proguard_file/
Будет удалено build/sqflite/intermediates/incremental/debug-mergeJavaRes/zip-cache/
Будет удалено build/sqflite/intermediates/incremental/debug-mergeJniLibs/zip-cache/
Будет удалено build/sqflite/intermediates/incremental/packageDebugResources/merged.dir/
Будет удалено build/sqflite/intermediates/incremental/packageDebugResources/stripped.dir/
Будет удалено build/sqflite/intermediates/intermediate-jars/debug/jni/
Будет удалено build/sqflite/intermediates/jniLibs/
Будет удалено build/sqflite/intermediates/library_and_local_jars_jni/
Будет удалено build/sqflite/intermediates/library_assets/
Будет удалено build/sqflite/intermediates/lint_jar/
Будет удалено build/sqflite/intermediates/packaged-classes/debug/libs/
Будет удалено build/sqflite/intermediates/packaged_res/
Будет удалено build/sqflite/intermediates/public_res/
Будет удалено build/sqflite/intermediates/rs/
Будет удалено build/sqflite/intermediates/shader_assets/
Будет удалено build/sqflite/intermediates/shaders/
Будет удалено build/sqflite/tmp/
/.packages
/android/
/assets/
/ios/
/build/
/.idea/
